<section class="first">
  <div class="container"> 
    <h1 class="text-center">Welcome to Quick Rental</h1>
  </div>
</section>

<section>
  <div class="container" id="listing"> 
    <h1>Here is some more content</h1>
  </div>
</section>

<section>

  <div class="container">
  
    <h1>Here is some more content</h1>
    
  </div>

</section>

<section>

  <div class="container">
  
    <h1>Here is some more content</h1>
    
  </div>

</section>
