/* CSS used here will be applied after bootstrap.css */
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body {
  height: 100%; }

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto; }

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto; }

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative; }

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  /* border-radius: 3px; */
  /* -webkit-user-select: none;
  user-select: none; */ }

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */ }

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */ }

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s; }

.login-help {
  font-size: 12px; }

.first {
  padding-top: 140px;
  height: 100vh;
  min-height: 400px;
  background-size: cover;
  background-image: url("http://www.visitflorida.com/content/dam/visitflorida/en-us/images/cities/miami/Downtown2011_08.jpg.1280.500.rendition"); }

.affix {
  -webkit-transition: padding 0.2s ease-out;
  -moz-transition: padding 0.2s ease-out;
  -o-transition: padding 0.2s ease-out;
  transition: padding 0.2s ease-out; }

.affix-top {
  /* navbar style at top */
  opacity: 0.4;
  border-color: transparent;
  padding: 15px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.affix-top .nav > li > a {
  color: #000; }

.affix-top .navbar-collapse {
  border-color: transparent;
  box-shadow: initial; }

section {
  height: calc(90% - 50px);
  height: 90vh; }

/* CSS for modal */
.modal-header {
  padding: 0; }

.modal-header .close {
  padding: 10px 15px; }

.modal-header ul {
  border: none; }

.modal-header ul li {
  margin: 0; }

.modal-header ul li a {
  border: none;
  border-radius: 0; }

.modal-header ul li.active a {
  color: #e12f27; }

.modal-header ul li a:hover {
  border: none; }

.modal-header ul li a span {
  margin-left: 10px; }

.modal-body .form-group {
  margin-bottom: 10px; }

div.card-main {
  width: auto;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-left: 40px;
  margin-top: 40px;
  display: inline-block;
  padding: auto; }

.card {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-top: 20px;
  margin-bottom: 20px;
  /* Added */
  max-height: 300px; }

/* End of css for modal */
footer {
  position: relative;
  margin-top: -150px;
  /* negative value of footer height */
  height: 150px;
  clear: both;
  padding-top: 20px;
  background-color: #999999; }

.card .card-block {
  max-height: 300px;
  overflow: auto; }

.heart {
  color: #e25555; }

.container {
  clear: both;
  height: 100%; }

/*Font-awesome integration*/
/*Google font integration*/
#contact {
  background-color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
  clear: both; }

#contact .well {
  margin-top: 30px;
  border-radius: 0; }

#contact .form-control {
  border-radius: 0;
  border: 2px solid #ADD8E6; }

#contact button {
  border-radius: 0;
  border: 2px solid #ADD8E6; }

#contact .row {
  margin-bottom: 30px; }

@media (max-width: 768px) {
  #contact iframe {
    margin-bottom: 15px; } }

/*# sourceMappingURL=style.css.map */